* {
    font-family: 'Montserrat', sans-serif;
    background: #fefefe;
}

html {
    padding-top: 2rem;
}

/* Score Board Section */
p {
    font-size: 24px;
    font-weight: 500;
    color: #1c3b74;
}

#timer {
    background: #1c3b74;
    color: white;
    border-radius: 20px;
    padding: 10px 5px;
    width: 30%;
    margin-bottom: 20px;
}

.col-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn.btn-primary {
    background: #ffc600;
    color: black;
    font-weight: 600;
    border: none;
    width: 50%;
}

#team1:active,
#team1:focus,
#team2:active,
#team2:focus,
#start:active,
#start:focus,
#result:active,
#result:focus {
    outline: none;
    border: none;
    color: black;
    background: rgb(255, 174, 0);
}

#result {
    width: 100%;
}

table {
    background-color: aliceblue;
}

@media screen and (max-width: 500px) {
    #timer {
        font-size: 20px;
        width: 50%;
    }

    .btn.btn-primary {
        font-size: 14px;
        width: 70%;
    }

    p {
        font-size: 16px;
    }

    #team1-score, #team2-score {
        font-size: 20px;
        margin-bottom: 16px;
    }
    
}